$background-color: #1919e4;
$heading-color:#575987;
$button-background: #3a2fd8;
$button-font-color: #ffffff;
$button-width: 10rem;
$button-height: 3.5rem;
$button-font-size: 1em;
$font-weight: 600;
$card-colors: #ffffff;